<!DOCTYPE html>
<html lang="en">

<head>
    <title>Airplane Maintainance System</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      {% load static %}
      <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href={% static 'assets/css/bootstrap/css/bootstrap.min.css'%}>
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href={% static 'assets/icon/themify-icons/themify-icons.css'%}>
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href={% static 'assets/icon/icofont/css/icofont.css'%}>
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href={% static 'assets/css/style.css'%}>
      <link rel="stylesheet" type="text/css" href={% static 'assets/css/jquery.mCustomScrollbar.css'%}>
  </head>

  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="index.html">
                            <img class="img-fluid" src="{% static 'assets/images/airplane.png' %}" alt="Theme-Logo" style="height:75px"/>
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul  style="float: right; margin: 15px; font-weight: 700;font-size: 20px;padding: 2px; border: solid 4px #353c4e ;border-radius: 10px; text-align: center;">
                                    <span>AIRPLANE MAINTAINANCE SYSTEM</span>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="{% url 'index2' %}">
                                        <span class="pcoded-micon"><i class="ti-receipt"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Dataset</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>    
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Classification</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="{% url 'RF' %}">
                                        <span class="pcoded-micon"><i class="ti-stats-up"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Random Forest </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "KNN" %}">
                                        <span class="pcoded-micon"><i class="ti-panel"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">K-Nearest Neighbours </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "SVM" %}">
                                        <span class="pcoded-micon"><i class="ti-pulse"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">SVM </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "DT" %}">
                                        <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Decision Tree </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "NB" %}">
                                        <span class="pcoded-micon"><i class="ti-bar-chart"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Naive Bayes</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Regression</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="{% url "reg" %}">
                                        <span class="pcoded-micon"><i class="ti-ruler-alt-2"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Linear Regression</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "poly" %}">
                                        <span class="pcoded-micon"><i class="ti-vector"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Polynomial Regression </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "CNN" %}">
                                        <span class="pcoded-micon"><i class="ti-layers-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Convolutional Neural Network </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "rfreg" %}">
                                        <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">RandomForest RegressorSTM </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                    </nav>
                     <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header page-header-title">
                                                        <i class="icofont icofont-ui-home bg-c-blue"></i>
                                                            <div class="d-inline">
                                                            <h4>DATA DESCRIPTION</h4>
                                                            <span>This data set is of the very well known public data set for asset degradation modeling from NASA. It includes Run-to-Failure simulated data from turbo fan jet engines.</span>
                                                         </div> 
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option" style="width: 35px;">
                                                                <li class=""><i class="icofont icofont-simple-left"></i></li>
                                                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                                <li><i class="icofont icofont-error close-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="sub-title">EXPERIMENT SCENARIO</div>
                                                        <p>
                                                            Data sets consists of multiple multivariate time series. Each data set is further divided into training and test subsets. Each time series is from a different engine i.e., the data can be considered to be from a fleet of engines of the same type. Each engine starts with different degrees of initial wear and manufacturing variation which is unknown to the user. This wear and variation is considered normal, i.e., it is not considered a fault condition. There are three operational settings that have a substantial effect on engine performance. These settings are also included in the data. The data is contaminated with sensor noise.
                                                        </p>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="sub-title">PREDICTION GOAL</div>
                                                        <p>
                                                            Data sets consists of multiple multivariate time series. Each data set is further divided into training and test subsets. Each time series is from a different engine i.e., the data can be considered to be from a fleet of engines of the same type. Each engine starts with different degrees of initial wear and manufacturing variation which is unknown to the user. This wear and variation is considered normal, i.e., it is not considered a fault condition. There are three operational settings that have a substantial effect on engine performance. These settings are also included in the data. The data is contaminated with sensor noise.
                                                        </p>
                                                    </div>
                                                      <div class="card-block">
                                                    <div class="row">
                                                    
                                            <div class="col-md-6 col-xl-3">
                                                <div class="card widget-card-1">
                                                    <div class="card-block-small">
                                                        <i class="icofont icofont-lens bg-c-blue card1-icon"></i>
                                                        <span class="text-c-blue f-w-600">Number of engines</span>
                                                        <h4>100</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xl-3">
                                                <div class="card widget-card-1">
                                                    <div class="card-block-small">
                                                        <i class="icofont icofont-layout bg-c-pink card1-icon"></i>
                                                        <span class="text-c-pink f-w-600">Columns in data</span>
                                                        <h4>26</h4>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-6 col-xl-3">
                                                <div class="card widget-card-1">
                                                    <div class="card-block-small">
                                                        <i class="icofont icofont-gears bg-c-green card1-icon"></i>
                                                        <span class="text-c-green f-w-600">Operational settings</span>
                                                        <h4>3</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6 col-xl-3">
                                                <div class="card widget-card-1">
                                                    <div class="card-block-small">
                                                        <i class="icofont icofont-measure bg-c-yellow card1-icon"></i>
                                                        <span class="text-c-yellow f-w-600">Sensor vales in data</span>
                                                        <h4>21</h4>
                                                    </div>
                                                </div>
                                            </div>
                                                </div>
                                            </div>
                                                </div> 
                                            </div>
                                        </div>
                                    
                                            <div class="card">
                                                    <div class="card-header page-header-title">
                                                         <i class="icofont icofont-file-document bg-c-pink"></i>
                                                            <div class="d-inline">
                                                            <h4>DATA PROCESSING</h4>
                                                            <span><B>Data Processing is a task of converting data from a given form to a much more usable and desired form i.e. making it more meaningful and informative.</B></span>
                                                         </div>
                                                        
                                                        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                                    </div>
                                                
                                                    <div class="card-block">
                                                        <!-- Row start -->
                                                        <div class="row">
                                                            <div class="col-lg-12 col-xl-12">
                                                                <div class="sub-title">DATA PROCESSING STEPS IN OUR DATASET</div>
                                                                <!-- Nav tabs -->
                                                                <ul class="nav nav-tabs  tabs" role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-toggle="tab" href="#rawdata" role="tab">raw data</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#graphs-op" role="tab">operational settings v/s RUL</a>
                                                                    </li>
                                                                     <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#graphs-sensor" role="tab">sensors v/s vs result graphs</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#corr" role="tab">correaltions</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#final" role="tab">final Data</a>
                                                                    </li>
                                                                </ul>
                                                                <!-- Tab panes -->
                                                                <div class="tab-content tabs card-block">
                                                                    <div class="tab-pane active" id="rawdata" role="tabpanel">
                                                                       <img src={% static 'assets/images/rawdata.png' %} style="max-height: 570px; width: 100%"><p class="m-0"><center><b>The above table shows the raw-dataset and it's different columns .</b></center></p>
                                                                    </div>
                                                                    <div class="tab-pane" id="graphs-op" role="tabpanel">
                                                                        <img src={% static 'assets/images/opset.png'%} style="max-height: 570px; width: 100%"><p class="m-0"><center><b>The above graph shows the relation of different columns of operational setting w.r.t result column Remaining useful life.</b></center></p>
                                                                    </div>
                                                                     <div class="tab-pane" id="graphs-sensor" role="tabpanel">
                                                                       <img src={% static 'assets/images/sensor.png'%} style="max-height: 570px; width: 100%"><p class="m-0"><center><b>The above graph shows the relation of different sensor columns w.r.t the result column Remaining useful life.</b></center></p>
                                                                         
                                                                    </div>
                                                                    <div class="tab-pane" id="corr" role="tabpanel">
                                                                       <img src={% static 'assets/images/heat.png' %} style="max-height: 570px; width: 100%"><p class="m-0"><center><b>The above graph shows the correlation of different columns with the result column Remaining useful life.</b></center></p>
                                                                    </div>
                                                                    <div class="tab-pane" id="final" role="tabpanel">
                                                                        <img src={% static 'assets/images/final.png' %} style="max-height: 570px; width: 100%"><p class="m-0"><center><b>The above graph shows the correlation of different columns with the result column Remaining useful life.</b></center></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        
                </div>
            </div>
        </div>
      </div>
<script type="text/javascript" src={%static 'assets/js/jquery/jquery.min.js'%}></script>
<script type="text/javascript" src={%static 'assets/js/jquery-ui/jquery-ui.min.js'%}></script>
<script type="text/javascript" src={%static 'assets/js/popper.js/popper.min.js'%}></script>
<script type="text/javascript" src={%static 'assets/js/bootstrap/js/bootstrap.min.js'%}></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src={%static 'assets/js/jquery-slimscroll/jquery.slimscroll.js'%}></script>
<!-- modernizr js -->
<script type="text/javascript" src={%static 'assets/js/modernizr/modernizr.js'%}></script>
<!-- am chart -->
<script src={%static 'assets/pages/widget/amchart/amcharts.min.js'%}></script>
<script src={%static 'assets/pages/widget/amchart/serial.min.js'%}></script>
<!-- Todo js -->
<script type="text/javascript" src={%static 'assets/pages/todo/todo.js'%}></script>
<!-- Custom js -->
<script type="text/javascript" src={%static 'assets/pages/dashboard/custom-dashboard.js'%}></script>
<script type="text/javascript" src={%static 'assets/js/script.js'%}></script>
<script type="text/javascript" src={%static 'assets/js/SmoothScroll.js'%}></script>
<script src={%static 'assets/js/pcoded.min.js'%}></script>
<script src={%static 'assets/js/demo-12.js'%}></script>
<script src={%static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}></script>
<script>
var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>
</body>

</html>
